{% extends 'base.html' %}

{% block title %}About Us - Third Ghost Games{% endblock %}

{% block content %}
<div class="container py-5" style="margin-top: 56px;">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">About Third Ghost Games</h1>
            <p class="lead">One man trying to make computer fun times.</p>
            
            <h3>Who I am</h3>
            <p>I'm Drew/BigPurpL; someone who likes video games a little too much, so now I am taking a shot at making my own.</p>
            
            <h3>What I Do</h3>
            <p>Try not to create too many bugs while having some semblance of a game at the end. I make no promises.</p>
        </div>
    </div>
</div>
{% endblock %}